@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  table {
    width: 100%;
  }

  th,
  td {
    word-break: break-word;
  }

  img,
  svg,
  video,
  canvas,
  audio {
    max-width: 100%;
    height: auto;
  }
}